.view {
	width: 90%;

	height: 600px;
	/*margin: 0 25px 25px 0;*/
	/*vertical-align: top;*/
	display: flex;
	flex-direction: column;
}
.list {
	flex: 1;
	display: flex;
	border: 1px solid red;
}
.graph {
	flex: 3;
	display: flex;
}
html,body {
	height: 100%;
	width: 100%;
}
